*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,body{
    width: 100%;
    /* min-height: 100vh; */
    
}

main{
    min-height: 100vh;
    background-color: #2b2b2b;
    color: rgba(240, 248, 255, 0.877);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 5% 3%;
}
.card-container{
    display: flex;
    background-color: #535252;
    max-width:1200px;
    width: 100%;
    border-radius: 20px;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px 50px;

}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top{
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1;
}
.top span{
    font-size: 1.7rem;
    font-weight: 400;
    opacity: .8;
}
.colors{
    display: flex;
    align-items: center;
    gap: 10px;
}
.color{
    width: 20px;
    height: 20px;
    border:1px solid #ffffff;
    border-radius:10px;
}

img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    /* object-position: center; */
}

.bottom{
    display: flex;
    gap: 40px;
    
}

.bottom .pros div p::before{
    content: '✔️ ';
}
.bottom .cons div p::before{
    content: '❌ ';
}

